<div class="panel">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
        <li id="p-namespaces" class="dropdown">
            <a class="dropdown-toggle navbar-brand" href="/" role="menu">KAMATOP228</a>
        </li>
    </ul>

    <div class="navbar-header">
        <ul class="nav navbar-nav navbar-right">
            <li class="aboba"><a href="/onime">anime</a></li>
            <li class="aboba"><a href="/anime">джо джо</a></li>
            <li class="aboba"><a href="/game">о себе</a></li>
            <li class="aboba"><a href="/abobaa">абоба</a></li>
            <li class="aboba"><a s href="/createaccount">Создать учётную запись</a></li>
            <li class="aboba"><a href="/come-on">Войти</a></li>
            </ul>
    </div>
</div>