<!DOCTYPE html>
<html lang="en">
<%- include('./particle/head.ejs'); %>

<body>
<%- include('./particle/nav.ejs'); %>

    <div class="tob">
        </head>
            <form>
                <label for="username">Username:</label>
                <input class="input" type="text" id="username" name="username">
                <label class="input" for="password">Password:</label>
                <input class="input" type="password" id="password" name="password">
               <a href="https://youtu.be/dQw4w9WgXcQ"><input class="input" type="submit" value="Login" ></a>
            </form>
        </div>
</body>
</html>