<!DOCTYPE html>
<html lang="en">
<%- include('./particle/head.ejs'); %>
<body>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            background-color: #1c1c1c;
            color: #fff;
        }
        h1 {
            margin: 0;
            font-size: 36px;
        }
        #content {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: #333333ad;
            border-radius: 10px;
        }
        p {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 15px;
        }
        .aue {
            max-width: 5%;
            height: auto;
            border-radius: 50%; /* Делаем изображение круглым */
            margin-bottom: 20px;
        }
        footer {
            background-color: #333333ad;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
<%- include('./particle/nav.ejs'); %>    
    <header>
        <h1>KAMATOP228 ИЗ РИВИИ</h1>
    </header>

    <div id="content">
        <img class="aue" src="/kama1.jpg" alt="Kamatopa228 из Ривии">
        <p>
            KAMATOP228 ИЗ РИВИИ — вымышленный персонаж, созданный польским писателем Фвзлидинов Камрон. 
            Он является главным героем в серии книг, известной как "KAMATOP228" (The Kamatop228). 
                Kamatop228 также стал широко известным благодаря компьютерным играм и телесериалу.
        </p>

        <p>
            Основные черты kamatopa включают в себя ведьмака, виртуозного мечника, нейтрального по отношению к политике и морали, 
            человека с чувствами, актера в любовных отношениях и популярного персонажа в мире фэнтези.
        </p>

        <p>
            KAMATOP228 ИЗ РИВИИ стал одним из самых известных персонажей в мире фэнтези и продолжает привлекать внимание читателей, 
            геймеров и зрителей. Актер Камрон Фазлидинов сыграл роль Kamatop228 в телесериале на платформе Netflix.
        </p>
    </div>

    <footer>
        <p>наши социальные сети</p>
        <p>Инстаграм:Giorno.Giovann.a</p>
        <p>номер телефона:+998-90-586-37-36 звони если скучно😉</p>
    </footer>
 
</body>
</html>