<!DOCTYPE html>
<html lang="en">
<%- include('./particle/head.ejs'); %>
<body>
    <%- include('./particle/nav.ejs'); %>

    <div class="onime">
        <div class="tobat">
        <a href="/show/alchi">
            <img style="border-radius:42.4% ;" src="/алхимик.jpg" alt="">
            <h3>Стальной алхимик</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/blich">
            <img style="border-radius:42.4% ;" src="/Блич.jpg" alt="">
            <h3>Блич</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/magia">
            <img style="border-radius:42.4% ;" src="/Магическая битва.jpg" alt="">
            <h3>Магическая битва</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/rezero">
            <img style="border-radius:42.4% ;" src="/резеро.jpg" alt="">
            <h3>Re:zero</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/vanpis">
            <img style="border-radius:42.4% ;" src="/ванпис.jpg" alt="">
            <h3>ванпис</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/ataka">
            <img style="border-radius:42.4% ;" src="/Атака титанов.jpg" alt="">
            <h3>Атака титанов</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/berserk">
            <img style="border-radius:42.4% ;" src="/Берсерк.jpg" alt="">
            <h3>Берсерк</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/boes">
            <img style="border-radius:42.4% ;" src="/Боец Баки.jpg" alt="">
            <h3>Боец Баки</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/dororo">
            <img style="border-radius:42.4% ;" src="/Дороро.jpg" alt="">
            <h3>Дороро</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/milaya">
            <img style="border-radius:42.4% ;" src="/Милая во франксе.jpg" alt="">
            <h3>Милая во франксе</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/reninkarasia">
            <img style="border-radius:42.4% ;" src="/Реинкарнация безработного.jpg" alt="">
            <h3>Реинкарнация безработного</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/rozavaya">
            <img style="border-radius:42.4% ;" src="/розавая пара.jpg" alt="">
            <h3>розавая пара</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/hanter">
            <img style="border-radius:42.4% ;" src="/Хантер Х Хантер.jpg" alt="">
            <h3>Хантер Х Хантер</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/cherniy">
            <img style="border-radius:42.4% ;" src="/черный клевер.jpg" alt="">
            <h3>черный клевер</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/svin">
            <img style="border-radius:42.4% ;" src="/Этот глупый свин не понимает мечту девочки-зайки.jpg" alt="">
            <h3>Этот глупый свин не понимает мечту девочки-зайки</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/shkola">
            <img style="border-radius:42.4% ;" src="/школа превасходства.jpg" alt="">
            <h3>школа превасходства</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/mir">
            <img style="border-radius:42.4% ;" src="/этот прекрасный мир.jpg" alt="">
            <h3>этот прекрасный мир</h3>
        </a>
        </div>
        <div class="tobat">
            <a href="/show/doctorstoun">
            <img style="border-radius:42.4% ;" src="/doctorstoun.jpg" alt="">
            <h3>doctor stoun</h3>
        </a>
        </div>
    </div>
</body>
</html>
ㅤ